@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+KR:wght@100..900&display=swap');


.main-logo{
    background-image: url("./asset/main_logo.png");
}
.key-on-image{
    background-image: url("./asset/key_on.png");
}
.key-off-image{
    background-image: url("./asset/key_off.png");
}
.arrow-left-icon{
    background-image: url("asset/arrow_left_icon.png");
}
.arrow-right-icon{
    background-image: url("./asset/arrow_right_icon.png");
}
.calender-icon{
    background-image: url("./asset/calender_icon.png");
}
.close-icon{
    background-image: url("./asset/close_icon.png");
}
.memo-icon{
    background-image: url("./asset/memo_icon.png");
}
.image{
    background-position: 50% 50%;
    background-size: 100% 100%;
}