#modal-wrapper{
    background-color: rgba(255,255,255,1);
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    max-width: 450px;
    max-height: 800px;

    border: 1px solid rgba(0,0,0,0.3);

    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 10px;

    overflow-y: auto;
}
.modal-close-btn-box{
    width: 100%;
    justify-content: right;
    display: flex;
    justify-content: right;
}
.modal-close-btn:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.08);
}
.modal-close-btn{
    width: 26px;
    height: 26px;
}
.modal-title-container{
    width: 100%;
    display: flex;
    font-size: 26px ;
    justify-content: center;
}
.modal-content-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.modal-schedule-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modal-schedule-title-box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-schedule-title{
    margin-left:5px;
    font-family: "Noto Sans KR";
    font-size: 16px;
}
.modal-calender-image{
    width: 16px;
    height: 16px;
}
.modal-schedule-box{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    gap: 10px;
}
.modal-schedule-value{
    font-family: "Noto Sans KR";
    font-size: 16px;
}
.modal-schedule-time-picker{
    width: 220px;
    height: 100%;
    display: flex;
}
.modal-schedule-content-box{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-schedule-content-title-box{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 5px;
}
.modal-schedule-content-title{
    font-family: "Noto Sans KR";
    font-size: 16px;
}
.modal-schedule-memo-icon{
    width: 16px;
    height: 16px;
}
.modal-btn-box{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
